.editor {
    width: 880px;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    padding-left: 200px;
}

.content > table {
    width: 100%;
    margin-top: 20px;
}

.content {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;

    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

a {
    text-decoration: none;
}
pre {
    white-space: pre-wrap;
}

.problem-description {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 20px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.userView {
    height: 180px;
}

#g-signin {
    margin-top: 60px;
}

.card-title-container {
    color: #fff;
    height: 60px;
    background: #42adf4;
    padding-top: 10px;
    padding-left: 20px;
}

.done-icon {
    color: green;
}