<html lang="en">
<head>
    <meta name="google-signin-client_id" content="496017852143-19a6kjh7mvhlhb0pp4l5fsj5s5empgt8.apps.googleusercontent.com">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Yet another online judge.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>fancy-coder</title>

    <link rel="shortcut icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="/js/boj.js"></script>
    <script src="/js/codemirror.js"></script>
    <script src="/js/clike.js"></script>
    <script src="/js/xml.js"></script>
</head>
<body>

<ul id="nav-mobile" class="side-nav fixed">
    <li><div class="userView">
        <img class="background" src="/images/login_bg.jpg">
        {% if state == "OK" %}
            <a href="/user/{{me.id}}"><img class="circle" src="{{me.imageUrl}}"></a>
            <span class="white-text name">{{me.name}}</span>
            <span class="white-text email">{{me.email}}</span>
        {% endif %}
        <div id="g-signin"></div>
    </div></li>

    <li>
        <a href="/problems"><i class="material-icons">assignment</i>problems</a>
    </li>
    <li>
        <a href="/submits"><i class="material-icons">done_all</i>submissions</a>
    </li>
    <li>
        <a href="/leader_board"><i class="material-icons">trending_up</i>leader board</a>
    </li>
    {% if admin == true %}
    <li><div class="divider"></div></li>
    <li><a class="subheader">Addmin</a></li>
    <li>
        <a href="/roster"><i class="material-icons">people</i>roster</a>
    </li>
    {% endif %}
    {% if state != "NOT_LOGGED_IN" %}
    <li><div class="divider"></div></li>
    <li id=""signout-button>
        <a onclick="signOut()" href="#"><i class="material-icons">exit_to_app</i>sign out</a>
    </li>
    {% endif %}
</ul>
<div class="container">
{% block content %} {% endblock %}
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86559615-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
