{% extends "base.html" %}

{% block content %}
<script>
var descriptionEditor;
var templateEditor;
var testEditor;

$(document).ready(function() {
    descriptionEditor = initEditor($("#description-editor")[0]);
    templateEditor = initEditor($("#template-editor")[0]);
    testEditor = initEditor($("#test-editor")[0]);

    descriptionEditor.setOption('mode', 'text/html');
});

function createOrUpdateProblem() {
    var description = descriptionEditor.doc.getValue();
    var template = templateEditor.doc.getValue();
    var test = testEditor.doc.getValue();
    var title = $('#problem-title').val();
    var id = "{{problem.id}}";
    $.post('/problem', {
        id: id,
        title: title,
        description: description,
        template: template,
        test: test
    },
    function() {
        location.href = "/problems";
    });
}
</script>
<div class="content">
    <div class="row">
        <div class="row">
            <div class="input-field col s6">
                <input id="problem-title" type="text" value="{{problem.title}}">
                <label for="problem-title">Totle</label>
            </div>
        </div>
        <div class="row">
            <h5>Description</h5>
            <div class="editor">
                <textarea id="description-editor">{{problem.description}}</textarea>
            </div>
        </div>
        <div class="row">
            <h5>Template</h5>
            <div class="editor">
                <textarea id="template-editor">{{problem.templateSrc}}</textarea>
            </div>
        </div>
        <div class="row">
            <h5>Test</h5>
            <div class="editor">
                <textarea id="test-editor">{{problem.junitTestSrc}}</textarea>
            </div>
        </div>
        <a onclick="createOrUpdateProblem()" class="waves-effect waves-light btn"><i class="material-icons left">save</i>save</a>
    </div>
</div>
{% endblock %}
