{% extends "base.html" %}
{% block content %}
<script>
    $(document).ready(function() {
        $('#problem_file').change(function() {
            $('#problem_import_form').submit();
        });
    });
</script>
<div class="content z-depth-2">
    <table class="highlight">
        <tr>
            <th></th>
            <th>Solved</th>
            <th>Title</th>
        </tr>
        {% for problem in problems  %}
        <tr>
            <td>
                {% if problem.solvedByMe %}
                <a href="/submits?problem_id={{problem.id}}&user_id={{me.id}}&verdict=ACCEPTED">
                    <i class="material-icons done-icon">done</i>
                </a>
                {% endif %}
            </td>
            <td>
                <a href="/submits?problem_id={{problem.id}}&verdict=ACCEPTED">
                    {{ problem.solvedUserCount }}
                </a>
            </td>
            <td>
                <a href="/problem/{{problem.id}}">
                    {{ problem.title }}
                </a>
            </td>
            {% if admin == true %}
                <td>
                    <a href="#" onclick="deleteProblem({{problem.id}})">
                        <i class="material-icons right">delete</i>
                    </a>
                    <a href="/problem/edit/{{problem.id}}">
                        <i class="material-icons right">mode_edit</i>
                    </a>
                    <a href="/problem/export/{{problem.id}}">
                        <i class="material-icons right">file_download</i>
                    </a>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% if admin == true %}

<div class="fixed-action-btn vertical" style="bottom: 45px; right: 24px;">
    <a href="/problem/create" class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li><a onclick="$('#problem_file').click()" class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
    <form id="problem_import_form" style="display:none" action="/problem/import" method="post" enctype='multipart/form-data'>
        <input name="problem_file" id="problem_file" type="file" />
    </form>
</div>
{% endif %}
{% endblock %}

