{% extends "base.html" %}

{% block content %}

<script>
$(document).ready(function() {
    var solutionEditor = ace.edit("solution-editor");
    solutionEditor.setTheme("ace/theme/monokai");
    solutionEditor.setFontSize(16);
    solutionEditor.setShowPrintMargin(false);
    solutionEditor.getSession().setMode("ace/mode/java");
    solutionEditor.getSession().setTabSize(2);
});

function submitSolution() {
    var solution = ace.edit("solution-editor").getValue();
    $.post('/submit/{{problem.id}}', {
        solution: solution
    },
    function(id) {
        location.href = "/submit/" + id;
    });
}

</script>
<div class="content">
    <h1>{{problem.title}}</h1>
    <div class="problem-description">{{problem.description}}</div>
    <div class="editor" id="solution-editor">{{problem.templateSrc}}</div>
    <button onclick="submitSolution()"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        submit
    </button>
</div>
{% endblock %}
