{% extends "base.html" %}

{% block content %}

<script>
$(document).ready(function() {
    var solutionEditor = ace.edit("solution-editor");
    solutionEditor.setTheme("ace/theme/monokai");
    solutionEditor.setFontSize(16);
    solutionEditor.setShowPrintMargin(false);
    solutionEditor.getSession().setMode("ace/mode/java");
    solutionEditor.getSession().setTabSize(2);
});

function submitSolution() {
    var solution = ace.edit("solution-editor").getValue();
    $.post('/submit/{{problem.id}}', {
        solution: solution
    },
    function(id) {
        location.href = "/submit/" + id;
    });
}

</script>
<iframe id="for_download" style="display:none;"></iframe>
<div class="content">

    <div class="card">
        <div class="card-title-container">
            <span class="card-title">{{ problem.title }}</span>
        </div>
        <div class="card-content">
            <p>{{ problem.description }}</p>
        </div>
    </div>

    <div class="editor" id="solution-editor">{{problem.templateSrc}}</div>
    <a onclick="submitSolution()" class="waves-effect waves-light btn">submit</a>
</div>
{% endblock %}
