{% extends "base.html" %}
{% block content %}
<script>
    $(document).ready(function() {
        $('#problem_file').change(function() {
            console.log('submitting');
            $('#problem_import_form').submit();
        });
    });
</script>
<style>
.card-action {
    height: 70px;
}
.container {
    margin-left: 20;
    margin-right: 20;
    width: 100%;
    max-width: 100%;
}
</style>
<div class="content">
    <div class="row">
        {% for problem in problems  %}
        <div class="col s3">
            <div class="card">
                <div class="card-title-container">
                    <span class="card-title">{{ problem.title }}</span>
                </div>
                <div class="card-content">
                    <p>{{ problem.description | abbreviate(140) }}</p>
                </div>
                <div class="card-action">
                    <a href="/problem/{{problem.id}}">
                        Solve
                    </a>
                    {% if admin == true %}
                        <a href="#" onclick="deleteProblem({{problem.id}})">
                            <i class="material-icons right">delete</i>
                        </a>
                        <a href="/problem/edit/{{problem.id}}">
                            <i class="material-icons right">mode_edit</i>
                        </a>
                        <a href="/problem/export/{{problem.id}}">
                            <i class="material-icons right">file_download</i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if admin == true %}

<div class="fixed-action-btn vertical" style="bottom: 45px; right: 24px;">
    <a href="/problem/create" class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li><a onclick="$('#problem_file').click()" class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
    <form id="problem_import_form" style="display:none" action="/problem/import" method="post" enctype='multipart/form-data'>
        <input name="problem_file" id="problem_file" type="file" />
    </form>
</div>
{% endif %}
{% endblock %}

