{% extends "base.html" %}

{% block content %}

<script>
var editor;
$(document).ready(function() {
    editor = initEditor($('#solution-editor')[0]);
});

function submitSolution() {
    if (!getCookie('id_token')) {
        var auth2 = gapi.auth2.init();
        auth2.signIn().then(function(googleUser) {
            setIdTokenCookie(googleUser);
            submitSolution();
        });
    } else {
        var solution = editor.doc.getValue();
        $.post('/submit/{{problem.id}}', {
            solution: solution
        },
        function(id) {
            location.href = "/submit/" + id;
        });
    }
}

</script>
<iframe id="for_download" style="display:none;"></iframe>
<div class="content">
    <div class="card">
        <div class="card-title-container">
            <span class="card-title">{{ problem.title }}</span>
        </div>
        <div class="card-content">
            {{ problem.description | raw }}
        </div>
        <div class="card-action">
            <a href="/submits?problem_id={{ problem.id }}">View Submissions</a>
        </div>
    </div>
    <div class="editor">
        <textarea id="solution-editor">{{problem.templateSrc}}</textarea>
    </div>
    <a onclick="submitSolution()" class="waves-effect waves-light btn">submit</a>
</div>
{% endblock %}
