{% extends "base.html" %}

{% block content %}
<script>
$(document).ready(function() {
    var descriptionEditor = ace.edit("description-editor");
    descriptionEditor.setTheme("ace/theme/monokai");
    descriptionEditor.setFontSize(14);
    descriptionEditor.setShowPrintMargin(false);
    descriptionEditor.getSession().setMode("ace/mode/html");

    var templateEditor = ace.edit("template-editor");
    templateEditor.setTheme("ace/theme/monokai");
    templateEditor.setFontSize(14);
    templateEditor.setShowPrintMargin(false);
    templateEditor.getSession().setMode("ace/mode/java");

    var testEditor = ace.edit("test-editor");
    testEditor.setTheme("ace/theme/monokai");
    testEditor.setFontSize(14);
    testEditor.setShowPrintMargin(false);
    testEditor.getSession().setMode("ace/mode/java");
});

function createOrUpdateProblem() {
    var description = ace.edit("description-editor").getValue();
    var template = ace.edit("template-editor").getValue();
    var test = ace.edit("test-editor").getValue();
    var title = $('#problem-title').val();
    var id = "{{problem.id}}";
    $.post('/problem', {
        id: id,
        title: title,
        description: description,
        template: template,
        test: test
    },
    function() {
        location.href = "/problems";
    });
}
</script>
<div class="content">
    <div class="row">
        <div class="row">
            <div class="input-field col s6">
                <input id="problem-title" type="text" value="{{problem.title}}">
                <label for="problem-title">Totle</label>
            </div>
        </div>
        <div class="row">
            <h5>Description</h5>
            <div class="editor" id="description-editor">{{problem.description}}</div>
        </div>
        <div class="row">
            <h5>Template</h5>
            <div class="editor" id="template-editor">{{problem.templateSrc}}</div>
        </div>
        <div class="row">
            <h5>Test</h5>
            <div class="editor" id="test-editor">{{problem.junitTestSrc}}</div>
        </div>
        <a onclick="createOrUpdateProblem()" class="waves-effect waves-light btn"><i class="material-icons left">save</i>save</a>
    </div>
</div>
{% endblock %}
