<div class="content">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Problem</th>
            <th class="mdl-data-table__cell--non-numeric">Verdict</th>
            <th class="mdl-data-table__cell--non-numeric">User</th>
            <th class="mdl-data-table__cell--non-numeric">Time</th>
        </tr>
        </thead>
        {% for submission in submissions %}
        <tr>
            {% set record = submission.record %}
            {% set problem = submission.problem %}
            {% set user = submission.user %}
            <td class="mdl-data-table__cell--non-numeric"><a href="/problem/{{record.problemId}}">{{ problem.title }}</a></td>
            <td class="mdl-data-table__cell--non-numeric"><a href="/submit/{{record.id}}">{{ record.verdict }}</a></td>
            <td class="mdl-data-table__cell--non-numeric">
                <span class="mdl-chip mdl-chip--contact">
                    <img class="mdl-chip__contact" src="{{user.imageUrl}}">
                    <a href="/user/{{user.id}}"><span class="mdl-chip__text">{{user.name}}</span></a>
                </span>
           </td>
            <td class="mdl-data-table__cell--non-numeric">{{submission.datetime}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
