{% extends "base.html" %}

{% block content %}

<script>
{% if verdict == "PENDING" %}
    setTimeout(function() {
        location.reload();
    }, 2000);
{% endif %}
$(document).ready(function() {
    editor = initEditor($('#solution-editor')[0]);
    editor.setOption('readOnly', true);
});
</script>
<div class="content">
    <div class="card">
        <div class="card-title-container">
            <span class="card-title">{{ verdict }}</span>
        </div>
        {% if message is not empty %}
            <div class="card-content">
                <pre>{{message}}</pre>
            </div>
        {% elseif verdict == "PENDING" %}
            <div class="card-content">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="editor">
        <textarea id="solution-editor">{{source}}</textarea>
    </div>
</div>
{% endblock %}

