{% extends "base.html" %}

{% block content %}

<script>
{% if verdict == "PENDING" %}
    setTimeout(function() {
        location.reload();
    }, 2000);
{% endif %}
$(document).ready(function() {
    var editor = ace.edit("solution-editor");
    editor.setTheme("ace/theme/monokai");
    editor.setFontSize(14);
    editor.setShowPrintMargin(false);
    editor.getSession().setMode("ace/mode/java");
    editor.setReadOnly(true);
    editor.setOptions({
        maxLines: Infinity
    });
});
</script>
<div class="content">
    <div class="card">
        <div class="card-title-container">
            <span class="card-title">{{ verdict }}</span>
        </div>
        {% if message is not empty %}
            <div class="card-content">
                <pre>{{message}}</pre>
            </div>
        {% elseif verdict == "PENDING" %}
            <div class="card-content">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="editor" id="solution-editor">{{source}}</div>
</div>
{% endblock %}

