{% extends "base.html" %}

{% block content %}
<style>
.card {
  width: 400px;
}
.card-image {
  width: 400px;
  height: 200px;
  background:
    url('{{user.imageUrl}}') bottom 15% right 15% no-repeat #46B6AC;
}
</style>

<div class="content">
    <div class="card">
        <div class="card-image">
            <span class="card-title">{{user.name}}</span>
        </div>
        <div class="card-content">

        </div>
        <div class="card-action">
            <a href="/submits?user_id={{user.id}}">
                All Submissions
            </a>
        </div>
    </div>
    {% include "submissions_content.html" %}
    {% if submission_views.size > 0 %}
    <div class="content z-depth-2">
        <table>
            {% for submission_view in submission_views %}
            {% set record = submission_view.record %}
            {% set viewer = submission_view.viewer %}
            {% set datetime = submission_view.datetime %}
            <tr>
                <td>
                    <div class="chip">
                        <img src="{{viewer.imageUrl}}">
                        <a href="/user/{{viewer.id}}">{{viewer.name}}</a>
                    </div>
                    viewed your submission
                    <a href="/submit/{{record.submissionId}}">#{{record.submissionId}}</a>
                    at {{datetime}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
